<?xml version="1.0" encoding="UTF-8"?>

<widget id="A6923001015107" version="0.0.1">
  <name>交大咨询平台</name>
  <description></description>
  <author email="651550106@qq.com" href="http://www.apicloud.com">你风若成</author>
  <content src="index.html"/>
  <preference name="appBackground" value="rgba(0,0,0,0)"/>
  <preference name="windowBackground" value="rgba(0,0,0,0)"/>
  <preference name="frameBackgroundColor" value="rgba(0,0,0,0)"/>
  <preference name="autoLaunch" value="true"/>
  <preference name="autoUpdate" value="true"/>
  <preference name="smartUpdate" value="false"/>
  <preference name="debug" value="true"/>
  <preference name="statusBarAppearance" value="true"/>
  <permission name="location"/>
  <permission name="internet"/>
  <access origin="*"/>
</widget>
